.listWrapper{
    width: 25%;
    background-color: rgba(238, 212, 172,0.6);
    margin: 10px 0;
    color: rgb(0, 0, 0);

}

.listTitle{
    padding: 10px 0;
    background-color: aqua;
    display: flex;
    justify-content: center;
}

.listItems{
    padding: 20px 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.listItems ul{
    list-style-type: none;
}